name: gen-html

on:
  workflow_dispatch: {}
  schedule:
    # runs twice daily, at 01:00 UTC and 13:00 UTC
    - cron: '0 1 * * *' 
    - cron: '0 13 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Needed for gitsign auth
      contents: write # Needed to commit files back to repo
    steps:
      - name: checkout repo content
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.2
      - uses: imjasonh/setup-crane@00c9e93efa4e1138c9a7a5c594acd6c75a2fbf0c # v0.3
      - uses: sigstore/cosign-installer@e1523de7571e31dbe865fd2e80c5c7c23ae71eb4 # v3.4.0
      - name: setup python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: '3.12'
      - name: Set up Octo-STS
        uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-dev/image-comparison
          identity: image-comparison
      - name: execute shell script
        id: run
        run: |
          ./gen-html.sh
      - name: gitsign
        uses: chainguard-dev/actions/setup-gitsign@main
      - name: commit files
        run: |
          git add *.html
          git commit -m "update html"
          git push origin main
      - if: ${{ failure() && github.event_name == 'schedule' }}
        uses: rtCamp/action-slack-notify@b24d75fe0e728a4bf9fc42ee217caa686d141ee8 # v2.2.1
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COLOR: '#8E1600'
          MSG_MINIMAL: 'true'
          SLACK_TITLE: gen-html failed.
          SLACK_MESSAGE: |
            For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
